:root {
  --color-darkBG: #22212C;
  --color-darkGray: #302F3D;
  --color-lightGray: #837e9f;
  --color-green: #00FF00;
  --color-pink: #CB92B1;
}

boody,
html {
  min-height: 100vh;
  height: 100%;
  background-color:var(--color-darkBG);
  
}
.App {
  padding: 2.5rem;
  font-family: 'Merriweather Sans', sans-serif;
}
.portfoilio {
  display: flex;
  gap: 3.75rem;
}